
#siteHeader {
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  background: $color-green;

  nav {
    ul {
      padding: 0;
      margin: 0;

      li {
        display: inline;
        margin-right: 40px;
        font-weight: bold;
        text-transform: uppercase;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
