
$color-green: #8BC34A;
$color-white: #fff;
$color-text-main: #2D2006;
$color-navy: #002165;

$font-heading: Merriweather, Georgia, serif;
$font-base: "Open Sans", Helvetica, Arial, sans-serif;

$link-color: $color-green;
$link-color-visited: $color-navy;

$page-background: darken(#FAF8F5, 5%);
$text-color: $color-text-main;
$title-color: #303030;

$heading-color: #313131;

$blockquote-border-color: $color-green;

$line-height: 2rem;
