@import 'variables';
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);

html {
  line-height: $line-height;
  font-family: $font-base;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 960px) {
    font-size: 18px;
  }
}

body {
  background: $page-background;
  color: $text-color;
  margin: 0;
  padding: 0;
}

@import 'header';

footer.site {
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
  padding-top: 2rem;
  margin: 3rem 0;
  text-align: center;
  font-size: 0.8rem;
}

.container {
  width: 100% - $layout-bleed*2;
  max-width: 870px;
  padding: 0 .75em;
  margin: 0 auto;

  @media (max-width: 480px) {
    width: 100% - $layout-bleed-small*2;
  }
}

@import 'type';
